services:
  mongo: 
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mongo:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - 8081:8081
    depends_on: 
      - mongo
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${DB_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${DB_PASSWORD}
      ME_CONFIG_MONGODB_URL: mongodb://${DB_USER}:${DB_PASSWORD}@mongo:27017/

  auction-monolith:
    build:
      context: ../ # This path is relative to docker-compose file so, need to ../ to go to root directory
      dockerfile: ./Dockerfile # as we have give context of our root directory
    image: auction-monolith
    container_name: auction-monolith
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://${DB_USER}:${DB_PASSWORD}@mongo:27017/
      DB_NAME: ${DB_NAME}
      TOKEN_KEY: ${TOKEN_KEY}
    depends_on:
      - mongo

volumes:
  mongo:
    driver: local
